<h1>Nuevo Heroe <small>{{heroe.superhero}}</small></h1>

<div fxLayout="row" fxLayoutGap="40px">
<div fxFlex="50" fxLayout="Column">
    <div fxLayout="row" fxLayoutGap="20px"
    fxLayout.xs="column">
        <mat-form-field fxFlex="100"> 
            <mat-label>Super Heroe </mat-label>
        
            <input matInput type="text"
                
            [(ngModel)] ="heroe.superhero"
            required>
        
                
            </mat-form-field>
        
            <mat-form-field fxFlex="100"> 
                <mat-label>Alter Ego </mat-label>
                
                <input matInput type="text" [(ngModel)] ="heroe.alter_ego"
                    required>
            
                    
                </mat-form-field>
    </div>
   

        <mat-form-field fxFlex="100"> 
            <mat-label>Primera Aparecion </mat-label>
        
            <input matInput type="text" [(ngModel)] ="heroe.first_appearance"
                required>
            
                
            </mat-form-field>


            <mat-form-field fxFlex="100"> 
                <mat-label>Personajes </mat-label>
            
                <input matInput type="text"  [(ngModel)] ="heroe.characters"
                    required>
            
                    
                </mat-form-field>

                <mat-form-field > 
                    <mat-label>Creador </mat-label>
                
                    <mat-select  [(ngModel)] ="heroe.publisher">
                        <mat-option *ngFor="let editoriales of publishers" [value]='editoriales.id'>{{editoriales.desc}}</mat-option>
                        
                    </mat-select>
                
                        
                    </mat-form-field>

                    <mat-form-field fxFlex="100"> 
                        <mat-label>Imagen URL </mat-label>
                    
                        <input matInput type="url"  [(ngModel)] ="heroe.alt_img"
                            required>
                    
                            
                        </mat-form-field>

                        <br>

                        <button mat-raised-button color="primary" (click)="guardar()" >
                           <mat-icon>edit</mat-icon>
                            Guardar
                        </button>



</div>
<div fxFlex="50">
    <img [src]="heroe|imagen">
</div >

</div>
